<!DOCTYPE html>
	<html>
		<head>
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h1 align="right"> Chandan Kumar Jha </h1>
			<nav align="right">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pages/about.html">About</a></li>
				<li><a href="/pages/publications.html">Publications</a></li>
	        		<li><a href="/pages/cv.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chandan.jha@iitgn.ac.in">email</a></li>
<!-- 	        		<li><a href="https://github.com/chajha">github.com/chajha</a></li> -->
              <li><a href="https://scholar.google.com/citations?hl=en&user=ayYfmkQAAAAJ">Google Scholar Profile</a></li>
				<a href="https://github.com/chajha" class="btn"><i class="fa fa-github"></i><span> Github</span></a>
				</ul>
			</footer>
		</body>
	</html>
